<h1>Register</h1>
<form action="/register" method="post">
    <div class="register-fields">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required placeholder="Enter your name...">
    </div>
    <div class="register-fields">
        <label for="name">Email</label>
        <input type="email" name="email" id="email" required placeholder="Enter your email...">
    </div>
    <div class="register-fields">
        <label for="name">Password</label>
        <input type="password" name="password" id="password" required placeholder="Enter your password...">
    </div>
    <button type="submit">Register</button>

</form>

<a href="/login">Login</a>